<%- include('header'); -%>

        <div class="box" id="heading">
            <h1><%= ListTitle %></h1>
        </div>
        <div class="box">

            <% newListItems.forEach(function(item){ %>
                <div class="item">
                    <input type="checkbox">
                    <p><%= item.name %></p>
                </div>
            <% }); %>
            
            <form method="POST" action="/" class="item">
                <input type="text" name="NewItem" placeholder="New Item" autocomplete="off">
                <button type="submit" value="<%= ListTitle %>">+</button>
            </form>
        </div>
    
<%- include('footer'); -%>



