<%- include('header'); -%>
        <div class="box">
            <h1 id="heading" style="text-align: center;"><%= ListTitle %></h1>
        </div>
        <div class="box">

            <% for(var i=0; i < newItems.length; i++) { %>
                <div class="item">
                    <input type="checkbox">
                    <p><%= newItems[i].name %></p>
                </div>
            <% } %>
            <form action="/" method="POST" class="item">
                <input type="text" name="item" placeholder="New Item" autocomplete="off">
                <button type="submit" name="list" value=<%= ListTitle %>>+</button>
            </form>
        </div>

<%- include('footer'); -%>
     
   