<%- include('header'); -%>
        <div class="box">
            <h1 id="heading" style="text-align: center;"><%= ListTitle %></h1>
        </div>
        <div class="box">

            <% newItems.forEach(function(item){ %>
                <form method="POST" action="/delete">
                    <div class="item">
                        <input type="checkbox" name="checkbox" value="<%= item._id %>" onchange="this.form.submit()">
                        <p><%= item.name %></p>
                    </div>
                </form>
            <% }) %>
            <form action="/" method="POST" class="item">
                <input type="text" name="item" placeholder="New Item" autocomplete="off">
                <button type="submit" name="list" value=<%= ListTitle %>>+</button>
            </form>
        </div>

<%- include('footer'); -%>
     
   