<%- include('header'); -%>

        <div class="box" id="heading">
            <h1>It's a <%= ListTitle %></h1>
        </div>
        <div class="box">
            <% for(var i=0; i<=newListItems.length ;i++){ %>
                <div class="item">
                    <input type="checkbox">
                    <p><%= newListItems[i] %></p>
                </div>
            <% } %>
            <form method="POST" action="/" class="item">
                <input type="text" name="NewItem" placeholder="New Item" autocomplete="off">
                <button type="submit" value="<%= ListTitle %>">+</button>
            </form>
        </div>
    
<%- include('footer'); -%>



